/* Only necesary css for the game structure*/

/*general-----------------------------*/
html,body
{
    margin:0;
    padding: 0;
    background-color: #ccc;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding:20px;
   
}

main
{
    /* resolutie touchtable 1920x1080*/
    /*width: 1080px;
    height: 1920px;*/
}
section
{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    display: none;
}

section#intro
{
    display: block;
}

nav
{
    border:white solid medium;
}

a
{
    display: inline-block;
    background: white;
    padding: 10px;
    min-width: 50vw;
    margin:10px;
}

li
{
    list-style: none;
}



/*game-------------------------------*/
#pongGame 
{
    width: 1024px;
    height: 768px;
    background-color: black;
    position: relative;
}

#game h2
{
    color:white;
}
.player
{
    width: 20px;
    height: 100px;
    position: absolute;
    background-color: white;
    border:thin solid black;
}
#player1
{
    top:0px;
    left: 50px;
}
#player2
{
    top:0px;
    left:975px;
    display: none;
}

#ball
{
    width: 20px;
    height: 20px;
    position: absolute;
    top:380px;
    left:500px;
    background-color: white;
    border: thin solid black;
    border-radius: 50%;
}